@tailwind base;
@tailwind components;
@tailwind utilities;

/* open-sans-latin-wght-normal */
@font-face {
  font-family: "Open Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.widget button * {
  color: inherit;
}

[data-mantine-color-scheme="light"] .border-color {
  border-color: var(--mantine-color-gray-3);
}

[data-mantine-color-scheme="dark"] .border-color {
  border-color: var(--mantine-color-dark-4);
}

.font-reset {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.font-reset * {
  font-family: inherit;
}

.cm-gutter.cm-lineNumbers {
  font-size: 0.875em !important;
}

.animate-float {
  animation: float 4s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.diff-symbol {
  position: relative;
  color: #aeaeae !important;
}

.diff-symbol-space::after {
  content: "·";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  line-height: 100%;
}

.diff-symbol-tab::after {
  content: "→";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  line-height: 100%;
}
