* {
  box-sizing: border-box;
}

[data-theme="light"] .diff-style-root {
  --diff-border--: #dedede;
  --diff-add-content--: #e6ffec;
  --diff-del-content--: #ffebe9;
  --diff-add-lineNumber--: #ccffd8;
  --diff-del-lineNumber--: #ffd7d5;
  --diff-plain-content--: #ffffff;
  --diff-expand-content--: #fafafa;
  --diff-plain-lineNumber--: #fafafa;
  --diff-expand-lineNumber--: #fafafa;
  --diff-plain-lineNumber-color--: #555555;
  --diff-expand-lineNumber-color--: #555555;
  --diff-hunk-content--: #ddf4ff;
  --diff-hunk-lineNumber--: #c7ecff;
  --diff-hunk-lineNumber-hover--: #0969da;
  --diff-add-content-highlight--: #abf2bc;
  --diff-del-content-highlight--: #ffb3ad;
  --diff-add-widget--: #0969d2;
  --diff-add-widget-color--: #ffffff;
  --diff-empty-content--: #fafafa;
  --diff-hunk-content-color--: #777777;

  color: black;
}

.diff-style-root .diff-line-syntax-raw *,
[data-theme="light"] .diff-line-syntax-raw * {
  color: var(--diff-view-light, inherit);
  font-weight: var(--diff-view-light-font-weight, inherit);
}

[data-theme="dark"] .diff-style-root {
  --diff-border--: #3d444d;
  --diff-add-content--: #14261f;
  --diff-del-content--: #311b1f;
  --diff-add-lineNumber--: #1f4429;
  --diff-del-lineNumber--: #552527;
  --diff-plain-content--: #0d1117;
  --diff-expand-content--: #161b22;
  --diff-plain-lineNumber--: #161b22;
  --diff-expand-lineNumber--: #161b22;
  --diff-plain-lineNumber-color--: #a0aaab;
  --diff-expand-lineNumber-color--: #a0aaab;
  --diff-hunk-content--: #131d2e;
  --diff-hunk-lineNumber--: #204274;
  --diff-hunk-lineNumber-hover--: #1f6feb;
  --diff-add-content-highlight--: #1f572d;
  --diff-del-content-highlight--: #80312f;
  --diff-add-widget--: #0969d2;
  --diff-add-widget-color--: #ffffff;
  --diff-empty-content--: #161b22;
  --diff-hunk-content-color--: #9298a0;

  color: white;
}

[data-theme="dark"] .diff-line-syntax-raw * {
  color: var(--diff-view-dark, inherit);
  font-weight: var(--diff-view-dark-font-weight, inherit);
}

table,
tr,
td {
  border-color: transparent;
  border-width: 0px;
  text-align: left;
}

.diff-line-old-num,
.diff-line-new-num,
.diff-line-num {
  text-align: right;
}

.diff-style-root tr {
  content-visibility: auto;
}

.diff-add-widget-wrapper {
  transform-origin: center;
  transform: translateX(-50%) !important;
}

.diff-line-old-content .diff-add-widget-wrapper,
.diff-line-new-content .diff-add-widget-wrapper {
  transform: translateX(50%) !important;
}

.diff-add-widget-wrapper:hover {
  transform: translateX(-50%) scale(1.1) !important;
}

.diff-line-old-content .diff-add-widget-wrapper:hover,
.diff-line-new-content .diff-add-widget-wrapper:hover {
  transform: translateX(50%) scale(1.1) !important;
}

.diff-widget-tooltip {
  position: relative;
}

.diff-add-widget,
.diff-widget-tooltip {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  text-transform: none;
  border-width: 0px;
  background-color: transparent;
  background-image: none;
}

.diff-widget-tooltip::after {
  display: none;
  box-sizing: border-box;
  background-color: #555555;
  position: absolute;
  content: attr(data-title);
  font-size: 11px;
  padding: 1px 2px;
  border-radius: 4px;
  overflow: hidden;
  top: 50%;
  white-space: nowrap;
  transform: translateY(-50%);
  left: calc(100% + 8px);
  color: #ffffff;
}

.diff-widget-tooltip::before {
  display: none;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 2px);
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-right-color: #555555;
}

.diff-widget-tooltip:hover {
  background-color: var(--diff-hunk-lineNumber-hover--);
  color: white;
}

.diff-widget-tooltip:hover::before {
  display: block;
}

.diff-widget-tooltip:hover::after {
  display: block;
}

.diff-line-extend-wrapper * {
  color: initial;
}

.diff-line-widget-wrapper * {
  color: initial;
}
