@tailwind base;
@tailwind components;
@tailwind utilities;

.diff-style-root {
  --diff-add-content--: #e6ffec;
  --diff-del-content--: #ffebe9;
  --diff-add-lineNumber--: #ccffd8;
  --diff-del-lineNumber--: #ffd7d5;
  --diff-plain-content--: #ffffff;
  --diff-expand-content--: #fafafa;
  --diff-plain-lineNumber--: #fafafa;
  --diff-plain-lineNumber-color--: #555555;
  --diff-hunk-content--: #ddf4ff;
  --diff-hunk-lineNumber--: #c7ecff;
  --diff-add-content-highlight--: #abf2bc;
  --diff-del-content-highlight--: #ffb3ad;
  --diff-add-widget--: #0969d2;
  --diff-add-widget-color--: #ffffff;
  --diff-empty-content--: #fafafa;
  --diff-hunk-content-color--: #777777;
}

.diff-style-root tr {
  content-visibility: auto;
}

.diff-widget-tooltip {
  position: relative;
}

.diff-widget-tooltip::after {
  display: none;
  box-sizing: border-box;
  background-color: #555555;
  position: absolute;
  content: attr(data-title);
  font-size: 11px;
  padding: 1px 2px;
  border-radius: 4px;
  overflow: hidden;
  top: 50%;
  white-space: nowrap;
  transform: translateY(-50%);
  left: calc(100% + 8px);
  color: #ffffff;
}

.diff-widget-tooltip::before {
  display: none;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 2px);
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-right-color: #555555;
}

.diff-widget-tooltip:hover::before {
  display: block;
}

.diff-widget-tooltip:hover::after {
  display: block;
}
